{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="intro">
     <p>  I'm Karthik D, a passionate and creative developer with a deep love for building meaningful digital experiences. Whether it’s crafting elegant front-end interfaces, engineering powerful back-end systems, or experimenting with the latest technologies, I thrive on turning ideas into reality.

                This portfolio is a reflection of my journey — a blend of learning, building, and growing through real-world projects.
            </p> 
    </div>
</body>
</html>